<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/profile.css" />
    <link href="dist/hamburgers.css" rel="stylesheet" />
    <script src="js/profile.js" defer></script>
  </head>
  <body>
    <!-- aside for the navgation menu -->
    <aside class="aside">
      <div class="aside-logo">
        <img
          src="../../assets/img/Spot-logo_-removebg-preview.png"
          alt="logo img"
        />
        <h2>Spot</h2>
      </div>
      <div class="aside-buttoms">
        <a href="" class="aside-buttom-0"
          ><img
            src="../../assets/img/location_on_24dp_FILL0_wght400_GRAD0_opsz24.png"
            alt="location img"
          />
          <h2>Mapa</h2></a
        >
        <a href="" class="aside-buttom-1"
          ><img
            src="../../assets/img/search_24dp_FILL0_wght400_GRAD0_opsz24.png"
            alt="search img"
          />
          <h2>Busqueda</h2></a
        >
        <a href="" class="aside-buttom-2"
          ><img
            src="../../assets/img/slideshow_24dp_FILL0_wght400_GRAD0_opsz24.png"
            alt="play img"
          />
          <h2>Videos</h2></a
        >
      </div>
      <div class="aside-footer">
        <a href="" class="aside-buttom-footer"
          ><img
            src="../../assets/img/person_24dp_FILL0_wght400_GRAD0_opsz24.png"
            alt="person img"
          />
          <h2>Perfil</h2></a
        >
      </div>
    </aside>
    <!-- the main body of the page for contain the the articles and the other zones of it -->
    <main>
      <article class="main-article">
        <div class="main-article-1">
          <img
            src="../../assets/img/Spot-logo_-removebg-preview.png"
            alt=""
            class="main-img"
          />
          <h2 class="main-tittle">Spot: Turismo y Cultura</h2>
        </div>
        <div class="main-article-2">
          <button class="main-buttom">Seguir</button>
          <span class="main-span">
            Spot: turismo y cultura. <br> <br>
            Somos un espacio para compartir lo que te
            apasiona y tus gusto. <br><br>
             tell: 111 222 3333.  <br>
             cll: C 12a #1234b
          </span>
        </div>
      </article>

      <nav class="section-mid">
        <button href="" class="mid-buttom-0" id="mid-buttom-0"><img src="../../assets/img/slideshow_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="reproductor logo"></button>
        <button href="" class="mid-buttom-1" id="mid-buttom-1"><img src="../../assets/img/forum_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="comentarios logo"></button>
        <button href="" class="mid-buttom-2" id="mid-buttom-2"><img src="../../assets/img/location_on_24dp_FILL0_wght400_GRAD0_opsz24.png" alt=""></button>
      </nav>

    <!-- Zona para el grid -->

      <article class="grid-zone" id="grid-zone">
        <section id="gridZone">
            <div class="grid">
               <div class="item-0"></div>
               <div class="item-1"></div>
               <div class="item-2"></div>
               <div class="item-3"></div>
               <div class="item-4"></div>
               <div class="item-5"></div>
            </div>
        </section>
        <!-- Zona de comentarios -->

        <section id="comentarios">
            <div class="zona-comentarios">
              <script src="https://utteranc.es/client.js"
                  repo="G4l4k4s/gestion-comentarios"
                  issue-term="pathname"
                  label="/*/*/"
                  theme="github-dark-orange"
                  crossorigin="anonymous"
                  async>
              </script>
            </div>
        </section>

        <section id="Map">
          <div class="map-zone">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d63454.26257539396!2d-75.59271168973387!3d6.278004894381606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1716421836970!5m2!1ses!2sco" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </section>

      </article>
    </main>
    <!-- the is the foot of the page for the credits -->
    <footer>
      <span class="footer-span">@Spot</span>
    </footer>
  </body>
</html>
