body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}

#videoZone{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#videos{
    border-radius: 20px;
    width: 500px;
    height: 90%;
    background-image: url(../../../assets/img/1065341338_018e9920a8_b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.infoVideo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    color: rgb(255, 255, 255);
}

.zoneInfo{
    border-radius: 20px;
    height: 15%;
    background-color: rgba(48, 48, 48, 0.705);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profileVideo{
    width: 100%;
    height: 25%;
    margin-bottom: 20px;
    padding-left: 4%;
}

.profileVideo a{
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.imgProfile{
    background-color: white;
    width: 35px;
    height: 35px;
    background-image: url(../../../assets/img/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    margin-right: 5px;
    border-radius: 50%;
}

.profileVideo a strong{
    font-size: 18px;
}


.description{
    /* align-self: flex-start; */
    flex-wrap: wrap;
    height: 40%;
    margin-bottom: 15px;
    padding-left: 55px;
    font-size: 17px;
}

#interests{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.iconInterests{
    width: 50px;
    height: 50px;
    transition: width 0.3s, heigth 0.3s;
}

.iconInterests:hover{
    width: 60px;
    height: 60px;
    color: red;
}