body{
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #bdb3b0;
}

a{
    color: white;
    text-decoration: none;
}

#videoZone{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#videos{
    border-radius: 20px;
    width: 550px;
    height: 100%;
}

