<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <section id="incomeZoneButton">
            <button class="btn" id="incomeButton">Iniciar sesión</button>
        </section>
        <section id="info-container">
            <div class="info">
                <h1>Spot</h1>
                <p>Tu brújula para los rincones únicos de tu ciudad</p>
                <h2>Acá metemos contenido</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, molestias? Praesentium rem perspiciatis officiis, doloremque provident earum voluptas amet corporis dolores fugiat corrupti voluptatibus beatae minima iure hic, cupiditate perferendis!</p>
            </div>
        </section>
        <section id="incomeForm">
            <button class="buttonSvg" id="backIncome"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
              </svg>
            </button>
            
    
            <div id="income">
                <div class="logo">
                    <div class="imageLogo"></div>
                    <h1>Spot</h1>
                </div>
    
                <div class="formIncome" id="loginForm">
                    <h2>Ingresa</h2>
                    <p>Ingresa tu usuario y contraseña</p>
                    <form action="" class="form">
                        <label for="userName"></label>
                        <input type="text" placeholder="User name" name="user_name" id="name" class="itemForm" required autofocus>
                        
                        <label for="password"></label>
                        <div class="password-input position-relative">
                            <input type="text" placeholder="Contraseña" name="password" id="password" class="itemForm" required>
                            <div class="toggle-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute top-50 translate-middle-y eye-icon" width="25" height="25" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                                    <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            
                        </div>
                        
                        <button type="submit" class="signIn itemForm" value="incio">Ingresar</button>
                    </form>
                </div>
        
                
            </div>
    
            <div id="register">
                <div class="logoLogIn">
                    <div class="imageLogoLogIn"></div>
                    <p>Tu brújula para los rincones únicos de tu ciudad</p>
                </div>
                <div class="formIncome formLogIn">
                    <h2>Crea tu perfil</h2>
                    <p>Crea tu cuenta</p>
                    <form action="" class="form" id="signUp">
                        <label for="email"></label>
                        <input type="text" placeholder="Email" name="email" id="email" class="itemForm" required autofocus>
                        
                        <label for="name"></label>
                        <input type="text" placeholder="Nombre" name="name" id="name" class="itemForm" required>
                        
                        <label for="userName"></label>
                        <input type="text" placeholder="User name" name="userName" id="userName" class="itemForm" required>
    
                        <label for="password"></label>
                        <input type="password" placeholder="Contraseña" name="password" id="password" class="itemForm" required>
    
                        <button type="submit" class="logIn itemForm" value="registro">Registrate</button>
                    </form>
                </div>
            </div>
    
            <div class="logIn">
                <p class="textLogIn">¿Es tu primera vez en spot?</p><button id="buttonLogIn"><p>Registrate</p></button>
            </div>
        </section>
    </div>
    

    <script src="js/zonaIncome.js"></script>
    <script src="./js/signup.js"></script>
    <script src="./js/login.js"></script>
</body>
</html>