<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/script.js"></script>
</head>
<body>
    
    <section class="income">
        <div class="logo">
            <div class="imageLogo"></div>
            <h3>Spot</h3>
        </div>
        
        <div class="form">
            <h3>Ingresa</h3>
            
            <form action="" class="form">
                <label for=""></label>
                <input type="text" placeholder="User name" name="user_name" id="name">
                
                <label for="password"></label>
                <input type="text" placeholder="Contraseña" name="password" id="password">
                
                <button type="submit">Ingresar</button>
            </form>
        </div>
        <div class="hola">
            <div class="hijo"></div>
        </div>
    </section>
</body>
</html>