<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Archivo de estilos CSS enlazado-->
    <link rel="stylesheet" href="/src/components/charging screen/css/loadingScreen.css">

    <!--Archivo script enlazado-->
    <script src="/src/components/charging screen/js/loadingScreen.js" defer></script>
</head>

<!--Aquí inicia el cuerpo del documento-->
<body>
    <!-- Pantalla de carga-->
    <!--Contenedor para la pantalla de carga con ID único-->
    <div id="loading-screen">
        <!--Etiqueta de video con ID único, reproducción automática sin sonido-->        
        <video id="loading-video" autoplay muted>
            <!--Fuente del video en formato MP4-->
            <source src="/src/assets/img/charging screen.mp4" type="video/mp4">
        </video>
    </div>
    
</body>
</html>