*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
}

.hidden{
    display: none;
}

/*up zone on the income button*/
#incomeZoneButton{
    display: flex;
    justify-content: right;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#incomeButton{
    background-color: rgb(132, 154, 226);
    border:1px solid rgb(75, 75, 75);
    border-radius: 15px;
    margin-right: 5%;
    transition: background-color 0.3s, color 0.1s, padding 0.5s;
}


#incomeButton:hover{
    background-color: rgb(110, 200, 235);
    color: white;
    padding: 12px;
}

/*End zone*/


/*income zone*/
#incomeForm{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90%;
    transform: translate(-50%,-50%);
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px 100px 30px 100px;
    margin: auto;

}

.buttonSvg{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background: none;
    border: none;
}

#incomeForm svg{
    width: 30px;
    height: 30px;
    transition: width 0.5s, heigth 0.5s, transform 0.3s;
}

#incomeForm svg:hover{
    width: 32px;
    height: 32px;
    transform: translateY(-5px);
}

/*logo area*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.imageLogo{
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/img/logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo h1{
    font-size: 35px;
}

/*form area*/
.formIncome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
    
}

.formIncome p{
    margin: 0;
    margin-bottom: 20px;
}

.itemForm{
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 6px 5px 10px rgba(8, 8, 8, 0.199);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.1s;
}

.itemForm:hover {
    color: rgb(255, 255, 255);
    background-color: #85b9db;
    transform: translateX(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.itemForm:active {
    color: aqua;
    background-color: rgb(224, 83, 83);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signIn{
    margin-top: 40px;
    background-color: rgb(212, 209, 209);
}

.logIn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logIn p{
    margin: 3px;
    display: flex;
}

#buttonLogIn{
    border: none;
    background: none;
    font-size: 15px;
    transition: color 0.3s;
}

.logIn button{
    color: rgb(57, 57, 233);
}

#buttonLogIn:hover{
    color: rgb(255, 0, 0);
}
/*End of the income zone*/


/*Log in zone*/
.logoLogIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.imageLogoLogIn{
    width: 70px;
    height: 70px;
    background-image: url("../../../assets/img/logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoLogIn p{
    border-bottom: 1px dashed black;
    text-align: center;
}


/* icono password */
.position-relative {
    position: relative;
}

.toggle-button{
    position: absolute;
    right: 0;
    top: 8px;
    align-items: center;
    margin: 5px;

}
.eye-icon {
    right: 15px;
}