* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    height: 100vh;
    width: 100vw;
}

/* Estilos para el enrutamiento */

.leaflet-bottom.leaflet-right {
    display: block !important; /* Asegurarse de que los controles sean visibles */
}

.leaflet-routing-container {
    display: none !important;
}
