<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Screen with Video</title>
    <link rel="stylesheet" href="/src/components/loadingScreen/css/loadingScreen.css">
</head>
<body>

    <div id="loading-screen" class="loading-screen">
        <video id="loading-video" autoplay muted>
            <source src="/src/assets/img/loadingScreen.mp4" type="video/mp4">
        </video>
    </div>

    <div id="main-content" class="hidden">
    </div>

    <script src="/src/components/loadingScreen/js/loadingScreen.js"></script>

</body>
</html>