*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1,h2,h3,p,span{
    font-family: "Fjalla One", sans-serif;
}

body{
    background-color: rgba(206, 206, 206, 0.993);
    width: 100%;
    height: 800px;
    display: flex;
}

/*codigo para la zona aside de navegacion y configuracion de botones*/
.aside{
    width: 27%;
    height: inherit;
    float: left;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1%;
}

.main-article {
    width: 100%;
    height: 35%;
    /* background-color: rgba(0, 0, 0, 0.719); */
    display: flex;
    flex-direction: row;
}

.main-article-1{
    /* background-color: rgba(0, 0, 0, 0.219);  */
    width: 50%;
    height: initial;
    display: flex;
    flex-direction: column;

}
.main-article-1 img{
    width: 50%;
    height:100%;
    margin: auto;
}

.main-article-1 h2{
    margin: auto;
}

.main-article-2{
    /* background-color: rgba(0, 0, 0, 0.514);  */
    width: 50%;
    height: initial;
    display: flex;
    flex-direction: column;

}

.main-buttom,
.main-buttom2 {
    width: 30%;
    height: 10%;
    float: left;
    margin: 11% 0% 0% 0%;
    border-radius: 10px;
    font-family: "fjalla one";
    font-size: 130%;
    font-weight: 900;
    color:  white;
    background-color: rgba(0, 0, 0, 0.822);
}
.main-buttom:hover,
.main-buttom2:hover{
    background-color: rgba(0, 0, 0, 0.199);

}

.main-span {
    width: 70%;
    height: 50%;
    /* background-color: blue; */
    float: left;
    margin: 8% 0% 0% 0%;
}
/* Zona media de la pagina con los botones de navegacion */
.section-mid {
    width: 100%;
    height: 10%;
    /* background-color: rgba(137, 43, 226, 0.466); */
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mid-buttom-0 img,
.mid-buttom-1 img,
.mid-buttom-2 img {
    width: 30px;
    height: 30px;
}

.mid-buttom-0,
.mid-buttom-1,
.mid-buttom-2{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(252, 252, 252, 0.658);
    color: #fff;
    background: #11111100;
    position: relative;
    border-radius: 10px;}

.mid-buttom-0:active,
.mid-buttom-1:active,
.mid-buttom-2:active{
    background-color: rgb(0, 153, 255);
}


/*Contenedor del grid*/
.grid-zone {
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 255, 0.014);
    overflow: auto;
    border-radius: 1%;
}

/* Zone coments */
.caja-comentarios{
    width: 100%;

    background-color: rgb(4, 133, 36);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#comment-section{
    width: 90%;
    height: 90%;
    background-color: rgba(240, 248, 255, 0.048);
    gap: 5px;
}
#comments-container{
    width: 90%;
    background-color: blue;
}

.ctn-comments{
    width: 850px;
    background-color: rgba(165, 42, 42, 0.534);
    border: 1px solid black;
    border-radius:1%;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.617);
    margin-top: 10px;
    font-size: x-large;
    word-wrap: break-word;   /* rompe la palabra cuando llega al borde del div para que no sobresalaga de este*/
    display: flex;
}

.ctn-comments1{
    background-image: url(../assets/img/location_on_24dp_FILL0_wght400_GRAD0_opsz24.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height:50px;
    float: left;
}

.ctn-comments2{
    float:right;
    width: 90%;
    background-color: aqua;
    padding: 0.5%;
    border-left: 3px solid black;
    font-family: "fjalla one";
    font-size:large;

}

.ctn-input{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#submit-button{
    width: 50%;
    margin: auto;
    font-family: "fjalla one";
}

/* fin zona comentario
s */
#Map{
    width: 100%;
    height: 100%;
    background-color: aqua;
    align-content: center;
}
#map1{
    width: 90%;
    height: 90%;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: auto;
}

/* codigo de grid */
.grid {
    display: grid;

    grid-template-rows: 250px 250px;
    grid-template-columns: 300px 300px 300px;


    gap: 1%;
    margin: 1% 1% 1% 1.5%;
}

.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    grid-row: 20%;
    grid-column: 20%;
    background-color: rgb(1, 20, 20);
    border-radius: 1%;
    background-image: url(../assets/img/OIP.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
}

.item-00,
.item-01,
.item-02,
.item-03,
.item-04,
.item-05{
    width: 100%;
    height: 100%;
}

.item-00:hover,
.item-01:hover,
.item-02:hover,
.item-03:hover,
.item-04:hover,
.item-05:hover{
    background-color: rgba(0, 0, 0, 0.596);
}

#gridZone,
#comentarios,
#Map,
.main-buttom2{
    display: none;
}

.hidden{
    display: none;
}

.show{
    display: block;
}