*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgba(206, 206, 206, 0.993);
    width: 100%;
    height: 800px;
    display: flex;
}

/*codigo para la zona aside de navegacion y configuracion de botones*/
.aside{
    width: 15%;
    height: inherit;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    float: left;
    border: 1px solid black;
    border-radius: 1%;
}
.aside-logo {
    width: auto;
    height: 25%;
    /* background-color: blue; */
    display: flex;
    justify-items: center;
    padding: 10%;
}
.aside-logo img{
    width: 35px;
    height: 35px;
}

.h2-aside{
    font-size: 18px;
    margin: auto;
}

.aside-logo h2{

}
.aside-buttoms {
    width: auto;
    height: 50%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

.aside-buttom-0 {
    display: flex;
    text-decoration: none;
    color: black;
}
.aside-buttom-0 img{
    width: 35px;
    height: 35px;
}
.aside-buttom-0 h2{
    padding: 5px 0px 0px 5px;}

.aside-buttom-1 {
    display: flex;
    text-decoration: none;
    color: black;
    margin: 15px 0px 15px 0px;
}
.aside-buttom-1 img{
    width: 35px;
    height: 35px;
}
.aside-buttom-1 h2{
    padding: 5px 0px 0px 5px;
}

.aside-buttom-2 {
    display: flex;
    text-decoration: none;
    color: black;
}
.aside-buttom-2 img{
    width: 35px;
    height: 35px;
}
.aside-buttom-2 h2{
    padding: 5px 0px 0px 5px;
}

.aside-footer {
    width: auto;
    height: 25%;
    /* background-color: rgba(0, 0, 0, 0.459); */
}
.aside-buttom-footer {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10%;
    margin: 65% 0% 0% 0%;
}
.aside-buttom-footer img{
    width: 35px;
    height: 35px;
}
.aside-buttom-footer h2{
    padding: 5px 0px 0px 5px;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.main-article {
    width: 100%;
    height: 35%;
    /* background-color: rgba(0, 0, 0, 0.719); */
    display: flex;
    flex-direction: row;
}

.main-article-1{
    /* background-color: rgba(0, 0, 0, 0.219);  */
    width: 50%;
    height: initial;
    display: flex;
    flex-direction: column;

}
.main-article-1 img{
    width: 35%;
    height:70%;
    margin: auto;
}
.main-article-1 h2{
    margin: auto;
}

.main-article-2{
    /* background-color: rgba(0, 0, 0, 0.514);  */
    width: 50%;
    height: initial;
    display: flex;
    flex-direction: column;

}

.main-buttom,
.main-buttom2 {
    width: 30%;
    height: 10%;
    float: left;
    margin: 11% 0% 0% 0%;
    border-radius: 10px;
}

.main-span {
    width: 70%;
    height: 50%;
    /* background-color: blue; */
    float: left;
    margin: 8% 0% 0% 0%;
}
/* Zona media de la pagina con los botones de navegacion */
.section-mid {
    width: 100%;
    height: 10%;
    /* background-color: rgba(137, 43, 226, 0.466); */
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mid-buttom-0 img,
.mid-buttom-1 img,
.mid-buttom-2 img {
    width: 30px;
    height: 30px;
}

/*Contenedor del grid*/
.grid-zone {
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 255, 0.301);
    overflow: auto;
}

/* Zone coments */

#comentarios{
    display: flex;
    padding: 3%;
    
}

.zona-comentarios{
    background-color: rgba(0, 0, 0, 0.979);
    width: 100%;
    height: 400px;
    overflow: auto;
}


#Map{
    display: flex;
    padding: 3%;

}
.map-zone{
    background-color: black;
    width: 1000px;
    height: 400px;
    margin: auto;
}

/* codigo de grid */
.grid {
    display: grid;

    grid-template-rows: 250px 250px;
    grid-template-columns: 300px 300px 300px;

    gap: 30px;
    margin: 7%;
}
.item-0 {
    grid-row: 150px;
    grid-column: 150px;
    background-color: aqua;
    border-radius: 1%;
}
.item-1 {
    grid-row: 150px;
    grid-column: 150px;
    background-color: aqua;
    border-radius: 1%;
}
.item-2 {
    grid-row: 150px;
    grid-column: 150px;
    background-color: aqua;
    border-radius: 1%;
}
.item-3 {
    grid-row: 150px;
    grid-column: 150px;
    background-color: aqua;
    border-radius: 1%;
}
.item-4 {
    grid-row: 150px;
    grid-column: 150px;
    background-color: aqua;
    border-radius: 1%;
}
.item-5 {
    grid-row: 150px;
    grid-column: 150px;
    background-color: aqua;
    border-radius: 1%;
}


#gridZone,
#comentarios,
#Map,
.main-buttom2{
    display: none;
}
